$primary: hsl(220, 100%, 40%);
$primary-light: lighten($primary, 20%);

$sans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$serif: Georgia, serif;
$monospace: Courier, monospace;

$syntax-default: #666;

@mixin round {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body, h1, h2, h3, h4, li, ol, ul, tr, td, pre, code {
  margin: 0;
  padding: 0;
}

body {
  background: #fff url('background.gif') repeat-y top left;
  color: #333;
}

h1 {
  font: normal 36px $serif;
  margin: 0 0 30px 0;
}

a {
  color: $primary;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $primary-light;
}

.nav {
  position: absolute;
  width: 160px; /* 240 - 80 pad */
  top: 0;
  bottom: 0;
  padding: 40px 40px 40px 80px;
  color: #aaa;

  a {
    color: #666;
  }

  a:hover {
    color: $primary;
  }

  h1 {
    font-style: italic;
  }

  h2 {
    font: bold 14px $sans;
    margin: 20px 0 5px;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font: normal 13px $sans;
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
  }

  li:before {
    content: "\0203a\00a0";
  }
}

.content {
  max-width: 640px;
  margin: 0 0 0 280px;
  padding: 40px;

  h2 {
    font: normal 24px $serif;
    margin: 30px 0 20px 0;
    border-top: solid 1px #ddd;
    padding-top: 20px;
  }

  h3 {
    font: italic 18px $serif;
    margin: 30px 0 10px 0;
  }

  p {
    font: 15px/25px $serif;
    margin: 0 0 10px 0;
  }

  p + p {
    margin-top: 20px;
  }

  ul, ol {
    padding-left: 40px;
    margin: 10px 0;
  }

  li {
    font: 15px/25px $serif;
  }

  li + li {
    margin-top: 10px;
  }

  pre, code, tt {
    color: $syntax-default;
    font: 14px/20px $monospace;
  }

  code {
    white-space: nowrap;
    font-size: 16px;
  }

  pre {
    @include round;
    background: #f4f4f4;
    margin: 0 0 10px 0;
    padding: 10px;
  }

  hr {
    margin: 20px 0;
    border: none;
    border-bottom: solid 1px #4b81ab;
  }
}

.footer {
  font: italic 15px $serif;
  color: #aaa;
  padding: 20px;
  white-space: nowrap;
  margin: 30px 0 0 0;
  text-align: center;
  border-top: solid 1px #ddd;
}

p.future {
  @include round;
  background-color: hsl(10, 100%, 95%);
  color: hsl(10, 40%, 60%);
  font: italic 14px/20px $serif;
  margin: 0 0 10px 0;
  padding: 10px;
}

/* syntax highlighting */
$syntax-keyword: hsl(220, 100%, 50%);
$syntax-string:  hsl(40, 100%, 35%);
$syntax-comment: lighten($syntax-default, 20%);
$syntax-literal: hsl(30, 100%, 40%);
$syntax-pseudo:  hsl(100, 100%, 30%);

pre .k  { color: $syntax-keyword; }
pre .s  { color: $syntax-string; }
pre .se { color: $syntax-string; }
pre .c1 { color: $syntax-comment; }
pre .cm { color: $syntax-comment; }
pre .nb { color: $syntax-literal; }
pre .bp { color: $syntax-pseudo; }
