body, h1, h2, h3, h4, li, ol, ul, tr, td {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
}

h1 {
  background: #888;
  color: #aaa;
  font: normal 12px Verdana, sans-serif;
  padding: 2px 2px 4px 300px;
  white-space: nowrap;
}

h1 a {
  color: #ccc;
  text-decoration: none;
}

h1 a:hover {
  color: #eee;
}

h2 {
  color: #4b81ab;
  font: normal 48px "Reenie Beanie", sans-serif;
  margin: 30px 0 0 20px;
}

h3 {
  font: normal 18px Verdana, sans-serif;
  color: #4b81ab;
  margin: 30px 0 0 0;
}

h4 {
  font: italic 16px Georgia, serif;
  color: #4b81ab;
  margin: 20px 0 0 0;
}

p {
  font: 15px/25px Georgia, serif;
  margin: 10px 0;
}

a {
  color: #4b81ab;
  text-decoration: none;
}

a:hover {
  color: #4b81ab;
}

ul, ol {
  padding-left: 20px;
  margin: 10px 0;
}

li {
  font: 15px/25px Georgia, serif;
}

li + li {
  margin-top: 10px;
}

pre, code {
  background: #ecf3f8; /* e6edf2 */
  color: #70777d;
  font: 12px "Droid Sans Mono", Consolas, Monaco, monospace;
}

tt {
  color: #70777d;
  font: 12px "Droid Sans Mono", Consolas, Monaco, monospace;
}

code {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 2px;
}

pre {
  margin: 10px 0;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

hr {
  margin: 20px 0;
  border: none;
  border-bottom: solid 1px #4b81ab;
}

table {
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

.header td {
  vertical-align: baseline;
}

.subhead {
  text-align: right;
}

.nav {
  color: #ccb97a;
  font: normal 12px Verdana, sans-serif;
  margin: 20px 0 0 20px;
  padding: 10px;
  background: #faf9ed;
  width: 240px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.nav a,
.subhead a {
  color: #c49837;
}

.nav a:hover,
.subhead a:hover {
  color: #a8770c;
}

.nav ul {
  margin: 2px 0;
  padding-left: 20px;
}

.nav li {
  font: normal 12px Verdana, sans-serif;
  margin: 0;
  padding: 2px 0;
}

.content {
  margin: 20px;
}


/* syntax highlighting */
pre .k  { color: #4b81ab; }
pre .s  { color: #c1a953; }
pre .se { color: #d19943; }
pre .c1 { color: #8c9ca8; }
pre .cm { color: #8c9ca8; }
