body, h1, h2, h3, h4, li, ol, ul, tr, td {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background: #f4f4f4;
}

.prev {
  text-align: left;
  width: 80px;
}

.breadcrumb {
  text-align: left;
}

.next {
  text-align: right;
  width: 80px;
}

h1 {
  color: #27a;
  font: normal 48px "Reenie Beanie", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 40px 0 0 0;
}

h2 {
  font: normal 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #27a;
  margin: 30px 0 0 0;
}

h3 {
  font: italic 16px Georgia, serif;
  color: #27a;
  margin: 30px 0 0 0;
}

p {
  font: 15px/25px Georgia, serif;
  margin: 10px 0;
}

p + p {
  margin-top: 20px;
}

a {
  color: #27a;
  text-decoration: none;
}

a:hover {
  color: #49c;
}

ul, ol {
  padding-left: 20px;
  margin: 10px 0;
}

li {
  font: 15px/25px Georgia, serif;
}

li + li {
  margin-top: 10px;
}

pre, code {
  color: #555;
  font: 12px "Droid Sans Mono", Consolas, Monaco, monospace;
}

code {
  white-space: nowrap;
}

tt {
  color: #555;
  font: 12px "Droid Sans Mono", Consolas, Monaco, monospace;
}

pre {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

hr {
  margin: 20px 0;
  border: none;
  border-bottom: solid 1px #4b81ab;
}

table {
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

.nav {
  font: normal 12px Verdana, sans-serif;
  background: #777;
  color: #aaa;
  padding: 10px;
  white-space: nowrap;
}

.top {
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  margin: 0 0 20px 0;
}

.bottom {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  margin: 20px 0 0 0;
}

.nav a {
  color: #ccc;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
}

.nav h4 {
  font: normal 14px Verdana, sans-serif;
  margin: 0 0 5px;
  padding: 0;
}

.nav table {
  width: 100%;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  font: normal 12px Verdana, sans-serif;
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
}

.nav li:before {
  content: "\0203a\00a0";
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

p.future {
  color: #c88;
  font: italic 12px/18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 10px 0;
}

/* syntax highlighting */
pre .k  { color: #27a; }
pre .s  { color: #b72; }
pre .se { color: #d72; }
pre .c1 { color: #888; }
pre .cm { color: #888; }
